<footer class="container py-3">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Link 1</a></li>
          <li><a class="link-secondary" href="#">Link 2</a></li>
          <li><a class="link-secondary" href="#">Link 3</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
  